<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9-e_MwJn5evRafmqr6L9tJn_Y_5JmmDc</string>
	<key>GCM_SENDER_ID</key>
	<string>1096692682125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.listProjects</string>
	<key>PROJECT_ID</key>
	<string>fir-task-8641c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-task-8641c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096692682125:ios:e6257864e50653f9cc81c4</string>
</dict>
</plist>